div#gap_b {
    display: none;
<<<<<<< HEAD
    position: absolute;
    overflow: hidden;
    height: 350px;
    width: 200px;
    z-index: 9003;
    padding: 5px;
    margin: 1px;
    margin-bottom: 20px;
    background-color: rgba(176, 176, 176, 1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    min-height: 33px;
    border: 1px solid transparent;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.42857143;
    color: #b0b0b0;
    font-family: Roboto, calibri (body);
    text-align: left;
    /* margin-left: 15em; */
    /* position: relative; */
    left: 112em;
=======
    right: 500px;
    width: 450px;
    top: 64px;
    position: fixed;
    left: calc(100% - 700px);
    padding: 5px;
    background-color: rgba(176, 176, 176, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    border: 1px solid transparent;
>>>>>>> Watergis
}

div#gap_c {
    background-color: #b0b0b0;
    color: #f2f2f2;
    padding: 1px 5px 0 5px;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0 solid rgba(176, 176, 176, 1);
    border-width: 0 0 1px 0;
    border-radius: 0;
    box-sizing: border-box;
}

div#gap_d {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
    background-color: rgba(176, 176, 176, 1);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    box-sizing: border-box;
}

    div#gap_d span {
        vertical-align: middle;
    }

div#gap_e {
    height: 24px;
    right: 1px;
    top: 50%;
    margin-top: -9px;
    width: auto;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    color: #f2f2f2;
    font-family: Roboto, calibri;
    font-size: 14px;
}

a#gap_f {
    height: 19px;
    width: 19px;
    opacity: 1;
    margin: 0 4px 0 3px;
    background: #f2f2f2;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    color: #b0b0b0;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

    a#gap_f::before {
        font-family: calibri(body);
        margin: 0 0px;
        color: #b0b0b0;
        line-height: 1.2em;
        font-size: 1.2em;
        box-sizing: border-box;
    }

    a#gap_f span {
        font-weight: bolder;
        font-size: 22px;
        vertical-align: middle;
        color: #b0b0b0;
        text-align: left;
        position: absolute;
        margin-left: -6px;
        margin-top: -5px;
    }

div#gap_g {
    overflow: auto;
    padding: 0px;
    background-color: #f2f2f2;
    min-height: 200px;
    max-height: 320px;
    width: 100% !important;
    height: 312px !important;
    border: none;
    font-size: 15px;
    font-weight: 300;
    box-sizing: border-box;
    margin-top: 22px;
}

    div#gap_g::before {
        color: #000000;
        font-size: 15px;
        font-weight: 300;
    }

    div#gap_g::after {
        color: #000000;
        font-size: 15px;
        font-weight: 300;
    }

div#gap_h {
    width: 50%;
    box-sizing: border-box;
    color: #000000;
    font-size: 10px;
    font-weight: 300;
}

ul#gap_i {
    padding-left: 1px;
    font-size: 2px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    color: #000000;
    font-weight: 300;
}

    ul#gap_i li {
        box-sizing: border-box;
        font-size: 12px;
        list-style-type: none;
        color: #000000;
        font-weight: 300;
    }

div#gap_j {
    vertical-align: left;
    display: table-cell;
    width: 100%;
    color: #000000;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    list-style-type: none;
    font-weight: 300;
}

span#gap_k {
    font-weight: 300;
    font-size: 1.25em;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    height: 18px;
    line-height: 18px;
    box-sizing: border-box;
    color: #000000;
    list-style-type: none;
}
